[submodule "g2audit"]
  path = g2audit
  url = https://github.com/senzing-garage/g2audit.git
[submodule "g2command"]
  path = g2command
  url = https://github.com/senzing-garage/g2command.git
[submodule "g2configtables"]
  path = g2configtables
  url = https://github.com/senzing-garage/g2configtables.git
[submodule "g2database"]
  path = g2database
  url = https://github.com/senzing-garage/g2database.git
[submodule "g2export"]
  path = g2export
  url = https://github.com/senzing-garage/g2export.git
[submodule "g2loader"]
  path = g2loader
  url = https://github.com/senzing-garage/g2loader.git
[submodule "g2project"]
  path = g2project
  url = https://github.com/senzing-garage/g2project.git
[submodule "g2configtool"]
  path = g2configtool
  url = https://github.com/senzing-garage/g2configtool.git
[submodule "g2paths"]
  path = g2paths
  url = https://github.com/senzing-garage/g2paths.git
[submodule "g2createproject"]
  path = g2createproject
  url = https://github.com/senzing-garage/g2createproject.git
[submodule "g2updateproject"]
  path = g2updateproject
  url = https://github.com/senzing-garage/g2updateproject.git
[submodule "g2setupconfig"]
  path = g2setupconfig
  url = https://github.com/senzing-garage/g2setupconfig.git
[submodule "g2snapshot"]
  path = g2snapshot
  url = https://github.com/senzing-garage/g2snapshot.git
[submodule "g2explorer"]
  path = g2explorer
  url = https://github.com/senzing-garage/g2explorer.git
[submodule "g2iniparams"]
	path = g2iniparams
	url = https://github.com/senzing-garage/g2iniparams.git
[submodule "governor-postgresql-transaction-id"]
	path = governor-postgresql-transaction-id
	url = git@github.com:Senzing/governor-postgresql-transaction-id.git
